<article class="information">
    <h1 class="heading">
        Force balance
        <a id="btn-exit" class="btn-exit" href="" ng-click="returnToMainPage()" ng-controller="MainController">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="32px" height="32px" >
                <g>
                    <g id="x_x5F_alt">
                        <path style="fill:#030104;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M23.914,21.086
                            l-2.828,2.828L16,18.828l-5.086,5.086l-2.828-2.828L13.172,16l-5.086-5.086l2.828-2.828L16,13.172l5.086-5.086l2.828,2.828
                            L18.828,16L23.914,21.086z"/>
                    </g>
                </g>
            </svg>
        </a>
    </h1>

    <p>
        When conceiving what would eventually become this project we had absolutely no experience in car design,
        construction or manufacturing. We were a group of enthusiasts dreaming of combining the experience and dynamics
        of a Subaru STI and the economy of our moms’ diesel hatchbacks and all that at a cost of less than 30 000 $.
        Therefore, when we began designing we started from scratch - literally a drawing board. As with every item in
        the physical realm, the motion of a vehicle comes down to Newton’s Laws of Motion and a balance of forces.
        Primarily the car is affected by air and rolling resistance, inertial and elevation gradients and driving force
        from the power unit. Unfortunately, air and rolling resistances cannot be eliminated while we are moving through
        a fluid and on a surface. A large portion of the inertial and elevation changes can be recovered though. The
        conventional petrol and diesel power units, however, can only input and not recover energy. We simply do not
        accept that. The first step in the new design was establishing the requirements – the driving cycle. The project
        vehicle had to fulfill a normal daily driving regime. We used a high frequency Trimble GPS receiver to record a
        typical urban and an extra-urban trip. The velocity and altitude readings formed the basis of the mathematical
        model we used in the iterative process of testing out solutions. Air, rolling, inertial and gradient effects
        were calculated for each second in the drive cycles. From the initial analysis it was obvious that inertial
        forces are dominating. Lowering those was targeted through minimizing the weight of the project vehicle.
        Recovering less energy from inertia would lead to a smaller power unit and thus cost of the project and final
        product. Air resistance is lowered through development of a low drag shape of the vehicle especially beneficial
        at higher speeds in extra-urban trips.
    </p>
</article>

<article class="information">
    <img alt="force-balance-diagram" src="img/diagrams/Force-Balance-diagram1.jpg">
</article>
<article class="information">
    <img alt="force-balance-diagram" src="img/diagrams/Force-Balance-diagram2.jpg">
</article>
