<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Hobbyt Motors</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/chassis-icon.png"/>
        <link type="text/css" rel="stylesheet" href="styles/main.min.css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
        <div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not
            upgrade
            to a different browser to better enjoy this site?</a></div>
        <![endif]-->
    </head>

    <body class="container-fluid" ng-app="hobbyt">
        <div class="logo">
            <img src="img/Logo_Hobbyt.png" alt="Logo-Hobbyt">
        </div>
        <!--Navigation / start-->
        <nav class="navbar-default" id="navigation" ng-controller="MainController">
            <div class="navbar-collapse"><span class="btn-collapse"></span></div>
            <ul id="nav-list" class="nav container nav-slideUp">
                <li class="active"><a href="#main-view" ng-click="scrollTo('slider')">Home</a>
                </li>
                <li><a href="" ng-click="scrollTo('systems')">Systems</a>
                </li>
                <li><a href="" ng-click="scrollTo('story-of-project')">About</a>
                </li>
                <li><a href="" ng-click="scrollTo('team')">Team</a>
                </li>
                <li><a href="" ng-click="scrollTo('sponsors')">Sponsors</a>
                </li>
                <li><a href="" ng-click="scrollTo('contact')">Contact</a>
                </li>
            </ul>
        </nav>
        <!--Navigation / end-->

        <!--Slider / start-->
        <div ng-controller="MainController" id="slider" class="imageslide" ng-switch='slideshow' ng-animate="'animate'">
            <div class="slider-content" ng-switch-when="1">
                <img id="slide1" alt="Slide-1" src="img/slider/Carousel1.jpg"/>
            </div>
            <div class="slider-content" ng-switch-when="2">
                <img id="slide2" alt="Slide-2" src="img/slider/Carousel2.jpg"/>
            </div>
            <div class="slider-content" ng-switch-when="3">
                <img id="slide3" alt="Slide-3" src="img/slider/Carousel3.jpg"/>
            </div>
            <div class="slider-btn">
                <a ng-click="prev()" id="left-btn"></a>
                <a ng-click="next()" id="right-btn"></a>
            </div>
        </div>
        <!-- Slider / end-->
        <!-- Container - ng-view / start-->
        <div class="content">
            <div ng-view class="slide"></div>
        </div>
        <!-- Container - ng-view / end-->


        <!-- "btn-up" is displayed when page is scrolled and by clicking it it redirects to the top of the page-->
        <a id="btn-up" href="" ng-click="scrollToTop()" ng-controller="MainController">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
            <g>
                <path d="M8.533,1.067c-4.124,0-7.467,3.343-7.467,7.467S4.41,16,8.533,16S16,12.657,16,8.533S12.657,1.067,8.533,1.067z M8.533,15
        c-3.566,0-6.467-2.9-6.467-6.467s2.901-6.467,6.467-6.467S15,4.968,15,8.533C15,12.098,12.1,15,8.533,15z"></path>
                <path d="M8.855,6.15C8.757,6.052,8.629,6.004,8.5,6.004S8.243,6.052,8.145,6.15L4.902,9.393c-0.195,0.195-0.195,0.512,0,0.707
        c0.195,0.195,0.512,0.195,0.707,0L8.5,7.209l2.891,2.891c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L8.855,6.15z"></path>
            </g>
        </svg>
        </a>

        <!--Scripts-->
        <script src="scripts/lib/angular.min.js"></script>
        <script src="scripts/lib/angular-animate.min.js"></script>
        <script src="scripts/lib/angular-route.min.js"></script>
        <script src="scripts/lib/angular-resource.min.js"></script>
        <script src="scripts/js/app.js"></script>
    </body>
</html>
