<article class="information">
    <h1 class="heading">
        Chassis and Body
        <a id="btn-exit" class="btn-exit" href="" ng-click="returnToMainPage()" ng-controller="MainController">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="32px" height="32px" >
                <g>
                    <g id="x_x5F_alt">
                        <path style="fill:#030104;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M23.914,21.086
                            l-2.828,2.828L16,18.828l-5.086,5.086l-2.828-2.828L13.172,16l-5.086-5.086l2.828-2.828L16,13.172l5.086-5.086l2.828,2.828
                            L18.828,16L23.914,21.086z"/>
                    </g>
                </g>
            </svg>
        </a>
    </h1>

    <p>
        The shape and construction of the project vehicle are as important to the overall performance as the drivetrain
        and control. The low aerodynamic drag was developed in a CFD software environment. Starting from basic shapes
        and gradually iterating towards a coefficient of drag of 0.22 and a combined frontal area of 1.58 m2. To this
        purpose the seating layout of the two passengers is axially offset. This allows the main body of the vehicle to
        be only 1.2m wide. The total dimensions of the chassis are 3.7m long, 1.76m wide and 1.2m high. The light
        construction of the body is made of three primary materials. The main beams and crash zone are made of aluminium
        6082 T5 alloy with a 150/60mm profile, while the base of the crash zone is a harder 25CrMn4 sheet metal with a
        Yield Strength of 450-500MPa. The main passenger cell is reinforced with a 60mm diameter construction of 42CrMn4
        alloy of Yield Strength of >800MPa. Various iterations of the construction range between 216 and 240 kg. The
        torsion rigidity is calculated at around 29000Nm/m, stiff enough for a precise suspension setup. The combined
        weight of the chassis, body and components is designed at 650-700kg.
    </p>
</article>
<article class="information">
    <img alt="chassis-diagram" src="img/diagrams/Chassis-diagram.png">
</article>
