<article class="col-md-8 col-sm-12 col-xs-12 information">
    <h1 class="heading">
        Drivetrain
        <a id="btn-exit" class="btn-exit" href="" ng-click="returnToMainPage()" ng-controller="MainController">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="32px" height="32px" >
                <g>
                    <g id="x_x5F_alt">
                        <path style="fill:#030104;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M23.914,21.086
                            l-2.828,2.828L16,18.828l-5.086,5.086l-2.828-2.828L13.172,16l-5.086-5.086l2.828-2.828L16,13.172l5.086-5.086l2.828,2.828
                            L18.828,16L23.914,21.086z"/>
                    </g>
                </g>
            </svg>
        </a>
    </h1>

    <p>
        There are two main tasks the drivetrain needs to achieve – dynamics and energy management. Recovering the
        inertial energy during braking was quickly recognized as a must for an energy efficient drive. The technology to
        do so, however, has been a topic of development for car manufacturers and scientists for decades. A number of
        solutions were evaluated according to efficiency, capacity, applicability, safety and last but far not least
        cost. Using attainable components and technology was crucial to the low project budget and final product cost.
        Electricity was recognized as most appropriate and included in the mathematical model. The transmission of the
        power was simulated with direct coupling, manual and CVT gearboxes. Peak current demands on the electric system
        varied by up to 200% which directly affects the costs. Since an average acceleration event is less demanding
        than a deceleration one, not all of the current invested in the car motion can be recovered by regenerative
        braking due to limitations of battery technology. The best option for peak loads was found to be a light
        flywheel. It would serve the purpose of a buffer and short-term energy storage, improving the energy usage,
        lifespan and safe functioning of the battery pack. In order for maximal energy recovery all four wheels are used
        for regenerative braking and acceleration and a very accurate rotational speed control can be applied in corners
        and slippery conditions. The dynamics of the project vehicle is an important parameter in order to function
        well. The force driving the car forward, the tractive effort, is a combination of the motors torques, gearing
        ratio of transmissions and wheel size. Due to the low aero drag body and low weight the natural choice at this
        level and budget was a motorcycle engine. The Honda V4 800cc engine was chosen for its constant torque and
        linear power gradation through the rev range. The 110hp peak power is enough for a theoretical top speed of over
        230 km/h, while the chassis still consumes an average 3.2 l/100km urban driving in our recorded trip, with a
        range of over 300km. The electric power is supplied by a pair of axial flux permanent magnet motor/generators on
        each axis with a nominal power of 12kW and torque of 70Nm through the range of 200 – 2200rpm. Initially
        developed for airborne purpose by Rotex Electric in the Czech Republic, they weigh in at 4kg a piece. Their
        function is leading at speeds below 100km/h and can be used throughout the whole speed range for regeneration
        and acceleration surges depending on the driving mode and driver inputs. The performance figures of the designed
        project vehicle are more than adequate with a 0-100km/h acceleration of around 5 seconds, 0-200km/h of around 13
        seconds.
    </p>
</article>
<article class="col-md-8 col-sm-12 c0l-xs-12 information">
    <img alt="drivetrain-diagram" src="img/diagrams/Drivetrain-diagram.png">
</article>
