<!-- This is the main view, which will be seen on visiting the site.-->

<!-- This section is for the targeted sub-systems, each article contains a link to additional information. -->
<section id="systems" class="systems">
    <div class="container">
        <h1 class="heading">Systems</h1>

        <p class="sub-heading">Our team has divided its efforts in several critical subsystems in order to achieve the
            targeted results</p>
        <article class="systems_container">
            <a href="#/force-balance">
                <div class="icons force-balance"></div>
                <h2 class="title">Force Balance</h2>
            </a>

            <p>Albert Einstein famously defined insanity as “doing the same thing over and over again and expecting
                different results”. We feel this is what is happening with the automotive industry lately. With our
                limited experience in automotive design we started from zero, which in a physics problem is the force
                balance on a body in motion. We looked at what makes a car go, stop and turn in order to achieve those
                more efficiently.</p>
        </article>

        <article class="systems_container">
            <a href="#/drivetrain">
                <div class="icons drivetrain"></div>
                <h2 class="title">Drivetrain</h2>
            </a>

            <p>The drivetrain is the series of mechanical components that converts whatever form of energy used for
                motion into the movement of the vehicle. In this project it has two main tasks, dynamics of motion that
                is more than adequate for modern standards and the efficient use of energy that is associated with
                motion.
            </p>
        </article>

        <article class="systems_container">
            <a href="#/batteries">
                <div class="icons batteries"></div>
                <h2 class="title">Batteries and BMS</h2>
            </a>

            <p>After a number of simulations and considerations electricity was chosen as an auxiliary form of driving
                and stopping energy to improve the energy efficiency of motion. The storage of this form of energy is
                batteries, which form an important piece of the performance, maintenance, durability, safety
                characteristics and cost of the project. To their aid we have designed a relatively low rpm flywheel to
                supplement the positive and negative operating characteristics of batteries.</p>
        </article>
        <article class="systems_container">
            <a href="#/electronics">
                <div class="icons electronics"></div>
                <h2 class="title">Electronics & Software</h2>
            </a>

            <p>The combination of petrol and electric power units in a unique body shape and chassis demand that they
                are controlled as precise as possible. As much as we aim to use standard parts and of-the-shelf
                component, when they are brought together they require specific instructions to operate as we like them
                to. Control electronics in the form of sensors, signal processing and electromechanical actuators,
                achieve this harmony of components.</p>
        </article>
        <article class="systems_container">
            <a href="#/chassis">
                <div class="icons chassis"></div>
                <h2 class="title">Chassis</h2>
            </a>

            <p>The biggest are of gains to be made are the aerodynamics and weight of a vehicle in order to make the
                drivetrain and other systems as efficient and cost-effective as possible. The shape we developed with
                hired CFD software achieves excellent drag characteristics. The respective low weight is achieved by
                making small compromises with space and seating inside the vehicle and using cost-effective materials of
                high properties.</p>
        </article>
        <article class="systems_container">
            <a href="#/suspensions">
                <div class="icons suspension"></div>
                <h2 class="title">Suspensions</h2>
            </a>

            <p>Regardless of all other improvements, the aim of a car is to go along the road. Its contact with the road
                is through the wheels, tires and suspension. The low weight and specific shape put requirements on the
                suspension which are fairly specific to the vehicle. Passenger comfort, excellent road holding and
                safety are crucial to the successful acceptance of the prototype with the public and potential
                investors. Just like with the rest of the vehicle, the solutions are unorthodox but effective.</p>
        </article>
    </div>
</section>

<!-- This section is for the story of the project, depending on the scrren width is changed the position of elements.-->
<section id="story-of-project" class="white-section white-section__story">
    <div class="row">
        <div class="bar green"></div>
    </div>
    <div class="container">
        <h1 class="heading">Story of the Project</h1>

        <p class="sub-heading">Some sub text</p>

        <div class="row ">
            <article class="story__container left">
                <h2 class="date">October 2012</h2>

                <h2 class="title">Conceptual Design</h2>

                <p>A concept of making a cheap personal vehicle was conceived. As young professionals each in a
                    different line of work we wanted to travel in-town cheaper than what cars at the time offered. Cheap
                    old car and high petrol consumption or expensive newer cars with lesser consumption were the only
                    options. What about new, cheap and low consumption, how hard could it be?!
                </p>

            </article>
            <div class="story__container decor-line first">
                <div class="story story_design"></div>
            </div>
        </div>
        <div class="row ">
            <article class="story__container right">
                <h2 class="date">January 2013 to August 2014</h2>

                <h2 class="title">First Attempts</h2>

                <p>What started as a hobby became a full scale conversion project of a Fiat Seicento to first an
                    electric and then petrol-electric hybrid. Cost was to be minimal as everything was personally
                    funded. We aimed to source components locally while still constructing the car with decent
                    performance and safety.</p>

            </article>
            <div class="story__container right decor-line">
                <div class="story story_first-attempts"></div>
            </div>
        </div>
        <div class="row">
            <article class="story__container left">
                <h2 class="date">April 2014</h2>

                <h2 class="title">Lessons Learned</h2>

                <p>During the conversion of the first prototype we learned a lot about how difficult setting up and
                    operating the components were. With a fairly significant fire due to an overheated motor controller
                    and a resulting spectacular short circuit arc, the project car was damaged, but our spirit
                    unhindered. We had to start anew, but with a lot of lessons learned.
                </p>
            </article>
            <div class="story__container decor-line">
                <div class="story story_lessons"></div>
            </div>
        </div>
        <div class="row">
            <article class="story__container right">
                <h2 class="date">June 2014 to August 2014</h2>

                <h2 class="title">Daring to look further</h2>

                <p>The mathematical model developed in the conceptual stage proved to be accurate with the testing of
                    the converted Seicento. We immediately started thinking “what if we make it …, what if we use this
                    component” and so on. The result is the prototype 2 vehicle. A radically different shape and
                    characteristics by using the principles applied in the first prototype emerged.</p>

            </article>
            <div class="story__container right decor-line">
                <div class="story story_future"></div>
            </div>
        </div>
        <div class="row">
            <article class="story__container left">
                <h2 class="date">September 2014</h2>

                <h2 class="title ">Step by Step</h2>

                <p>With a developed brand, colors, logo and website we started to dare make this hobby into a more
                    professional endeavor. While still personally funded we started drawings and component sourcing for
                    the second prototype. The future of the project depends on attracting investment with the successful
                    completion of prototype II. Cheap, energy efficient vehicle – how hard can it be …</p>
            </article>
            <div class="story__container decor-line">
                <div class="story story_staps"></div>
            </div>
        </div>
        <div class="row">
            <div class=" decor-line last story__container">
                <div class="story story_continue"></div>
            </div>
        </div>
    </div>
</section>

<!-- This section is for the team, each article contains a link for contact to the participants of the project. -->
<section id="team" class="team">
    <div class="row">
        <div class="bar red"></div>
    </div>
    <div class="container">
        <h1 class="heading">Our Analyzing Team</h1>

        <article class="team__container">
            <img alt="Lubomir Yanev Project Manager & Engineer" src="img/team/lubo_avatar.jpg">

            <h2 class="name">Lubomir Yanev</h2>

            <p class="info">Project Manager & Engineer</p>
            <a href="#">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
        <article class="team__container">
            <img alt="Daniel Yanev Consulting Engineer" src="img/team/daniel_avatar.jpg">

            <h2 class="name">Daniel Yanev</h2>

            <p class="info">Consulting Engineer</p>
            <a href="#">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
        <article class="team__container">
            <img alt="Ludmila Ivanova Graphic Designer" src="img/team/lucy_avatar.jpg">

            <h2 class="name">Ludmila Ivanova</h2>

            <p class="info">GRAPHIC DESIGNER & MARKETING SPECIALIST</p>
            <a href="#">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
        <article class="team__container">
            <img alt="Alexandra Chariyska Frontend Developer" src="img/team/alex_avatar.jpg">

            <h2 class="name">Alexandra Chariyska</h2>

            <p class="info">IT support</p>
            <a href="https://alex.chariyska@gmail.com">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/alexandrachariyska">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
        <article class="team__container">
            <img alt="Yordan Hristov Test Pilot" src="img/team/yordan_avatar.jpg">

            <h2 class="name">Yordan Hristov</h2>

            <p class="info">Test Pilot</p>
            <a href="#">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
        <article class="team__container">
            <img alt="Yuriy Kostov Electical Engineer" src="img/team/yuriy_avatar.jpg">

            <h2 class="name">Yuriy Kostov</h2>

            <p class="info">Electical Engineer</p>
            <a href="#">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <path d="M256,176H128v160h128h128V176H256z M256,192h89.719L256,255.75L166.281,192H256z M144,196.531l54.5,36.859L144,292.812
    V196.531z M256,320h-92.406l45.562-79.422L256,272.25l46.844-31.672L348.406,320H256z M368,292.812l-54.5-59.422l54.5-36.859
    V292.812z" />
                </svg>
            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </article>
    </div>
</section>

<!-- The projects sponsors. -->
<section id="sponsors" class="white-section white-section__sponsors">
    <div class="container">
        <div class="sponsors__heading">
            <h1 class="heading">Sponsors</h1>
            <img alt="sponsor" class="sponsors" src="img/logo-sponsor.png">
        </div>
        <div class="row">
            <div class="sponsors__list">
                <a class="default-btn" href="#">Donate via</a>
                <a class="default-btn" href="#">Donate via</a>
            </div>
        </div>
    </div>
</section>

<!-- This section is for the contact form. Validation messages are shown using angular directives. -->
<section id="contact" class="contact" ng-app="hobbyt">
    <div class="container">
        <h1 class="heading">Contact us</h1>

        <div class="row">
            <form name="contactForm" method="post" action="scripts-min/php/contact-form.php" novalidate>
                <div class="error">
                    <div class="error_message" ng-if="contactForm.name.$dirty && contactForm.name.$error.required">
                        Please insert your name.
                    </div>
                    <div class="error_message"
                         ng-if="contactForm.email.$dirty && (contactForm.email.$error.required || contactForm.email.$error.pattern)">
                        Please insert a valid email.
                    </div>
                    <div class="error_message"
                         ng-if="(contactForm.message.$dirty && contactForm.message.$error.required)">
                        Please insert a message.
                    </div>
                </div>
                <fieldset class="fieldsets">
                    <input type="text" name="name" id="name" placeholder="Your Name*" ng-model="user.name" required>
                    <input type="text" name="email" id="email" placeholder="Your E-mail*" ng-model="user.email"
                           ng-pattern="/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/" required>
                    <input type="text" name="subject" placeholder="Subject" ng-model="user.subject">
                </fieldset>

                <fieldset class="fieldsets">
                    <textarea name="message" id="message" placeholder="Your message*" ng-model="user.message"
                              required></textarea>
                </fieldset>

                <fieldset class="fieldsets__button">
                    <button type="submit" name="submit" ng-disabled="contactForm.$invalid" ng-click=""
                            class="default-btn">Send Message
                    </button>
                </fieldset>
            </form>
        </div>

        <div class="row">
            <a href="https://www.facebook.com/HobbytMotors">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512"
                     style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <path d="M256,0C114.609,0,0,114.609,0,256c0,141.391,114.609,256,256,256c141.391,0,256-114.609,256-256
                            C512,114.609,397.391,0,256,0z M256,472c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z
                            "/>
                        <path d="M316.75,216.812h-44.531v-32.5c0-9.969,10.312-12.281,15.125-12.281c4.781,0,28.767,0,28.767,0v-43.859L283.141,128
                            c-44.983,0-55.25,32.703-55.25,53.672v35.141H195.25V262h32.641c0,58.016,0,122,0,122h44.328c0,0,0-64.641,0-122h37.656
                            L316.75,216.812z"/>
                    </g>
                </svg>
            </a>
            <a href="https://www.linkedin.com/profile/view?id=210902018">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
    c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                    <g>
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M128.094,383.891h48v-192h-48V383.891z M320.094,191.891
            c-41.094,0.688-61.312,30.641-64,32v-32h-48v192h48v-112c0-4.109,10.125-37,48-32c20.344,1.328,31.312,28.234,32,32v112
            l47.812,0.219V251.188C382.219,232,372.625,192.578,320.094,191.891z M152.094,127.891c-13.25,0-24,10.734-24,24s10.75,24,24,24
            s24-10.734,24-24S165.344,127.891,152.094,127.891z" />
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>
<footer>
    <h1>@Hobbytmotors</h1>

    <h1>Where's movement there's improvement</h1>
</footer>
