<article class="information">
    <h1 class="heading">
        Suspension
        <a id="btn-exit" class="btn-exit" href="" ng-click="returnToMainPage()" ng-controller="MainController">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="32px" height="32px" >
                <g>
                    <g id="x_x5F_alt">
                        <path style="fill:#030104;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M23.914,21.086
                            l-2.828,2.828L16,18.828l-5.086,5.086l-2.828-2.828L13.172,16l-5.086-5.086l2.828-2.828L16,13.172l5.086-5.086l2.828,2.828
                            L18.828,16L23.914,21.086z"/>
                    </g>
                </g>
            </svg>
        </a>
    </h1>

    <p>
        Regardless of the technical innovation and low cost targets in the project a vehicle needs to be comfortable,
        easy and safe to operate for the passengers. This is an issue with low weight constructions. The lighter the
        body, the greater the effect of road surface and cornering forces on it, leading to bumpy and choppy ride.
        Installing soft springs and shock absorbers solves the comfort problem, but make the vehicle difficult to safely
        hold the road and unpleasant to drive. The key to solving both comfort and handling is the light components
        after the spring and shock absorber, i.e. the suspension, brakes and wheels and their correct geometry. Since
        the front and rear of the chassis is narrow as a result of the aerodynamic shape and the wheels placed at a
        standard distance for stability, conventional strut tower Macpherson setup was not applicable. The layout of the
        chassis and wheels bares a close resemblance to single-seater formula race cars. Thus we adopted their
        suspension setup – unequal length double wishbone suspension and pushrod coilovers positioned inside the main
        chassis body. An exemplary drawing presented below:
    </p>
</article>
<article class="information row">
    <div class="information__image left">
        <img alt="diagram 1" src="img/diagrams/Suspension-diagram1.jpg">
    </div>
    <div class="information__image right">
        <img alt="diagram 2" src="img/diagrams/Suspension-diagram2.jpg">
    </div>
</article>
<article class="information">
    <p>
        The setup has a number of benefits in road holding ability at various angles of lean and vertical wheel
        displacement. Simply put, it keeps as mush of the tire surface in contact with the road at as many various
        conditions as possible. Last but not least of the components that move with the wheel in conventional vehicles
        and thus increasing the unsprung (away from the spring and absorber from the chassis) weight are the brake discs
        and calipers. Having all wheel drive means we have a driveshaft going from the chassis to each wheel. This makes
        possible the use of an initially unnatural solution – inboard brakes. This system moves the caliper and disc
        from the wheel end of the driveshaft to the chassis end of it. In this way, the brake force acts on the
        driveshaft which in turn acts on the wheel and tire. This brings a number of benefits, from lower unsprung
        weight, through better protection from the elements for the brakes and even better weight distribution. Less
        weight on the end of the car body means its easier to rotate around its axes, which leads to better cornering
        and more stable road holding. Inboard brakes have been used in several racing cars as presented below:
    </p>
</article>
<article class="information">
    <div class="information__image center">
        <img alt="diagram 3" src="img/diagrams/Suspension-diagram3.jpg">
    </div>
</article>